@inherits ServiceStack.Razor.ViewPage<SiteDescriber.ServiceInterface.ModelForServer>
<!doctype html>
<html lang="en-us">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ArcGIS Server Site Descriptor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
</head>
<body style="padding: 10px">
    <a href="../">Back to start</a>
    <h3>Resources for @Model.Url</h3>
    <h4>ArcGIS Server Version @Model.SiteDescription.Version</h4>
    @foreach (var endpoint in Model.SiteDescription.Services)
    {
        <p><a href="@String.Concat(Model.Url, endpoint.ArcGISServerEndpoint.RelativeUrl)" target="_blank">@endpoint.ArcGISServerEndpoint.RelativeUrl.Replace("rest/services/", "")</a></p>
    }
    <script defer type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script defer type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>
